@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&display=swap');

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

#nav {
    background-color: #111;
    color: white;
    padding: 10px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandName {
    font-size: 30px;
    font: weight 100;
    cursor: pointer;
}

.searchInput {
    padding: 10px 20px;
    border-radius: 10px;
}

.offer {
    font-size: 20px;
}

.navBottom {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Item {
    margin: 50px;
    cursor: pointer;
    color: white;
}

.imgItem {
    height: 100px;
    position: absolute;
    

}

       
.slider {
    overflow: hidden;

}

.sliderWrapper {
    display: flex;
    transition: all 1.5s ease-in-out;
}

.sliderItem {
    flex: 0 0 100%;
    text-align: center;
    position: relative;
    height: 100%;
    justify-content: center;
}

.sliderImg {
 position: relative;
 z-index: 1;
}

.Bg {
  position: absolute;
   top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  width: 500px; 
  height: 600px;
  border-radius: 50%;
  
   
}

.sliderTitle {
    color: white;
    position: absolute;
    top: 8%;
    right: 10%;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    z-index: 1;
}

.sliderPrice {
    color: white;
    position: absolute;
    top: 8%;
    left: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    border: 5px solid #111;
    border-radius: 5px;
    margin:auto;
    z-index: 1;
    
}

.buyItem {
    color: #111;
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
   
}
.buyItem:hover {
    background-color: #111;
    color: white;
}
.sliderItem:nth-child(1) .Bg {
    background-color: rgb(204, 233, 11);
}

.sliderItem:nth-child(2) .Bg {
    background-color: rgb(248, 8, 8);
}

.sliderItem:nth-child(3) .Bg {
    background-color: rgb(164, 9, 235);
}
.sliderItem:nth-child(4) .Bg {
    background-color: rgb(93, 235, 11);
}
.sliderItem:nth-child(5) .Bg {
    background-color: rgb(129, 241, 254);
}
.sliderItem:nth-child(1) .sliderPrice{
    color: rgb(204, 233, 11);
}
.sliderItem:nth-child(2) .sliderPrice{
    color: rgb(248, 8, 8);
}
.sliderItem:nth-child(3) .sliderPrice{
    color: rgb(164, 9, 235);
}
.sliderItem:nth-child(4) .sliderPrice{
    color: rgb(93, 235, 11);
}
.sliderItem:nth-child(5) .sliderPrice{
    color: rgb(129, 241, 254);
}

.feacture {
   display: flex;
    padding: 40px; 
}

.feacturediv {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
        
}

.imageIcon {
    height: 50px;
    width: 50px;

}

.feactureDescription {
    font-size: 20px;
    margin: 20px;
}

.feactureDetails {
    color: rgb(170, 156, 137);
    width: 50%;
    height: 100px;
}

.products {
    position: relative;
    display: flex;

}
.productImg {
    width: 50%;
    height: auto;

}
.productDetails {
    margin: auto;
}

.productTitle {
    font-size: 50px;
    font-weight: 900px;
   

}
.productPrice {
    font-size: 30px;
  
}

.productDesc {
    color: rgb(101, 98, 98);
    
}
.colors, .sizes {
    display: flex;
   
    
}

.color {
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}
.color:last-child {
    background-color: rgb(19, 19, 74);
}

.size {
    height: 25px;
    width: 45px;
    cursor: pointer;
    margin-right: 10px;
    padding: 10px 10px;
    border: 1px solid black;
    font-size: 25px;
    text-align: center;

}

.productButton {
    position: relative;
    cursor: pointer;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    background-color: whitesmoke;
    left: 60%;

}
.productButton:hover {
    background-color: black;
    color: white;
}

.payment {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 10px;
    width: 600px;
    height: 600px;
    display: none;
    flex-direction: column;
       -webkit-box-shadow: inset -7px 54px 280px 0px rgba(0,0,0,0.49);
-moz-box-shadow: inset -7px 54px 280px 0px rgba(0,0,0,0.49);
box-shadow: inset -7px 54px 280px 0px rgba(0,0,0,0.49);
}
.names {
    color: rgb(15, 14, 14);
    font-size: 20px;
    text-align: center;
}

.payItem {
    font-size: 15px;
    display: flex;
    padding: 10px;
    margin: 15px 200px;
    border: none;
    border-bottom: solid black;
}

.payItem::placeholder {
    color: rgb(163, 163, 163);
}

label {
    font-size: 20px;
    font-weight: 300;
}

.cards {
    text-align: center;
}

.card {
     margin-right: 10px;
}

.cardInfo {
    display: flex;
    justify-content: space-between;

}
.sm { 
    display: flex;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 10px;
    margin-bottom: 10px;
}

.payButton {
    position: absolute;
    height: 40px;
    bottom: -40px;
    width: 100%;
    left: 0;
    background-color: green;
    color: whitesmoke;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid black;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(84, 82, 82);
    color: whitesmoke;
}

.gallery {
    /* background-color: #111; */
    display: flex;
    padding: 50px;

}
.galleryItem {
    flex: 1;
    padding: 50px;

}
.galleryImg {
    width: 100%;

}

.newSeason {
    display: flex;
    
}
.nsItem {
    flex: 1;
    padding: 20px;
    background-color: #111;
    color: white;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}
.nsImg {
    width: 100%;
    height: auto;   
}
.title {
    font-size: 40px;
}

.linkButton {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    
}

footer {
    display: flex;
    
}

.fLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;

}

.footerTitle {
    font-size: 20px;
    
}

.fMenuList {
    padding: 30px;
}

.fList {
    padding: 0px;
    list-style: none;
}

.fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;

}


.fRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.fInput {
    padding: 8px;
    border-radius: 10px;
}
.fButton {
    padding: 10px;
    border-radius: 10px;
    background-color: #111;
    color: white;
    cursor: pointer;
}

.fIcons {
    display: flex;
}

.fIcon {
    width: 30px;
    height: 30px;
    padding: 5px;
    cursor: pointer;
}

.copyright {
    font-weight: 600;
    font-size: 15px;
}


@media screen and (max-width: 400px) {
    nav {
        padding: 20px;
    }
    .searchInput {
        display: none;
    }
    .navBottom {
        flex-wrap: wrap;
    }
    .Item {
        margin: 20px;
        font-weight: 700px;
        font-size: 20px;
    }

    .sliderImg {
        width: 90%;
    }

    .Bg {
        width: 100%;
        height: 100%;
    }
    .sliderTitle {
        display: none;
    }
    .sliderPrice {
        top: unset;
        bottom: -50;
        left: 0;
        background-color: gray;
    }
    .buyItem {
        right: 0;
        top: 0;
    }
    .feacture {
        flex-direction: column;

    }
    .products {
        display: flex;
        flex-direction: column;
    }
    .productImg {
        width: 80%;

    }
    .productDetails {
        width: 100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;
        top: 0;
    }
    .productTitle {
        font-size: 50px;
        margin: 0;
    }
    .gallery {
        display: none;
    }
    .newSeason {
        flex-direction: column;
    }
    .nsItem:nth-child(2) {
        padding: 50px;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
    .fLeft {
        padding: 20px;
        width: 90%;
    }
    .fRight {
        
        padding: 20px;
        width: 90%;
        align-items: center;
        background-color: whitesmoke;
    }
    .payment {
        width: 90%;
        padding: 20px;
    }

}


