@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat&display=swap');

body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    
}

#nav {
    background-color: #111;
    color: white;
    padding: 10px;
}

.navTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandName {
    font-size: 30px;
    font: weight 100;
    cursor: pointer;
}

.searchInput {
    padding: 10px 20px;
    border-radius: 10px;
}

.offer {
    font-size: 20px;
}

.navBottom {
    display: flex;
    justify-content: center;
    align-items: center;

}

.Item {
    margin: 50px;
    cursor: pointer;
    color: white;
}

.imgItem {
    height: 100px;
    position: absolute;
}

       
.slider {
    height: 100vh;
}

.sliderWrapper {
    display: flex;
   

}

.sliderItem {
    flex: 0 0 100%;
    display: flex;
    text-align: center;
    position: relative;
    height: 100%;
    justify-content: center;
    
}

.sliderImg {
position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
 
}

.Bg {
    position: absolute;
   top: 40%;
   left: 30%;
   width: 60%;
   height: 80%;
   border-radius: 50%;
   background-color: yellow;
   
}

.sliderTitle {
    color: #111;
    position: absolute;
    top: 5%;
    right: 60%;
    left: 10%;
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    z-index: 1;

}

.sliderPrice {
    color: #111;
    position: absolute;
    top: 8%;
    right: 10%;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    justify-content: center;
    border: 5px  solid #111;
    border-radius: 5px;
    margin:auto;
    z-index: 1;
}

.buyItem {
    color: #111;
    position: absolute;
    top: 30%;
    left: 10%;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    z-index: 1;
}

.buyItem:hover {
    background-color: #111;
    color: white;
}





    


